*{
  margin:0;
  padding: 0;
}

html, body,.contenedor-papa{
  background-image: url(../img/landscape.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
 position: relative;
}

.contenedor{
  width:40%;
  position: relative;
}
.gato{
  width: 100%;
  position: absolute;
  margin-top:50%;
  display: block;
  }
  #gatoAcostado{
    display:none;
  }
  #gatoDormido{
    display:none;
  }

  /*inician breakpoints con  responsive*/

@media(max-width:1024px){
  .contenedor-papa{
    background-image: url(../img/dawn.png);
  }
  #gatoAcostado{
    display:none;
  }
  #gatoDormido{
    display:none;
  }
}


@media(max-width:768px){
  .contenedor-papa{
    background-image: url(../img/dawn.png);
  }
  #gatoAcostado{
    display:block;
  }
  .gato{
    display: none;
  }
  #gatoDormido{
    display:none;
  }
}




@media(max-width:480px){
  .contenedor-papa{
    background-image: url(../img/midnight-conversation_861064.jpg);
  }
  #gatoAcostado{
    display:none;
  }
  .gato{
    display:none;
  }
  #gatoDormido{
    display:block;
  }
}

@media(max-width:320px){
  .contenedor-papa{
    background-image: url(../img/maxresdefault.jpg);
  }
  #gatoAcostado{
    display:none;
  }
  .gato{
    display:none;
  }
  #gatoDormido{
    display:block;
  }
}
